/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
	div.home-text {
		margin: 0;
		font-size: 5vw;
	}
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

/*
 * Шапка.
 */
.fixedHeaderContainer {
    display: none;
}

.sideNavVisible .fixedHeaderContainer {
    display: block;
}

.fixedHeaderContainer header img {
    height: 75%;
}

/*
 * Подвал
 */
footer {
    display: none;
}

.sideNavVisible footer {
    display: block;
}

/**
 * Подвал.
 */
.nav-footer {
    padding-top: 0;
}

.nav-footer .sitemap a.nav-home {
    opacity: 1;
}

.copyright {
    font-size: 12px;
}

/*
 * Основной блок.
 */
.home-text {
    font-family: Arial;
    text-transform: uppercase;
    font-weight: 800;
	font-size: 58px;
    color: black;
    text-shadow: 2px 2px 0px rgba(161,0,255,0.5);
    margin: 4% 30% 0 7%;
    position: relative;
    z-index: 100;
    padding: 20px 30px;
    background-color: rgba(255, 255, 255, .3);
}

.logo-acc {
    position: absolute;
    z-index: 10;
    right: 0;
    height: 100vh;
    top: 0;
}

/*
 * Аксенчер.
 */
 .acc-name {
    color: #f44336;
}

/*
 * Ссылка.
 */
.link-wrapper {
    padding-bottom: 5px;
    border-bottom: 2px solid blue;
    display: inline-block;
    font-weight: 600;
	margin: 4% 0 0 7%;
	position: relative;
}

.link-wrapper .link {
    color: blue;
}

.link-wrapper .link:hover {
    color: #9900F3;
}

/*
 * Градиент.
 */
body {
	width: 100wh;
	height: 90vh;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

body.sideNavVisible  {
    background: none;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

